<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoSite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfluencePage</display-name>
    <servlet-name>ConfluencePage</servlet-name>
    <servlet-class>com.demo.site.ConfluencePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfluencePage</servlet-name>
    <url-pattern>/ConfluencePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiraForm</display-name>
    <servlet-name>JiraForm</servlet-name>
    <servlet-class>com.demo.site.JiraForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiraForm</servlet-name>
    <url-pattern>/JiraForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetSite</display-name>
    <servlet-name>SetSite</servlet-name>
    <servlet-class>com.demo.site.SetSite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetSite</servlet-name>
    <url-pattern>/SetSite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JiraPage</display-name>
    <servlet-name>JiraPage</servlet-name>
    <servlet-class>com.demo.site.JiraPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JiraPage</servlet-name>
    <url-pattern>/JiraPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfluenceForm</display-name>
    <servlet-name>ConfluenceForm</servlet-name>
    <servlet-class>com.demo.site.ConfluenceForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfluenceForm</servlet-name>
    <url-pattern>/ConfluenceForm</url-pattern>
  </servlet-mapping>
</web-app>